#searchbar{
    position: absolute;
    top: 23vh;
    transform: translateY(-50%);
}
#content{
    position: relative;
    top: 30vh;
}
#cardColor{
    --background: rgb(16, 209, 74);
}

#buttonColor{
    --color: white;
    --border-color: white;
}

#teks{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

#grid{
    padding-bottom: var(--ion-padding, 8vh);
}